<mat-toolbar color="primary">
    <div class="d-flex align-items-center">
        <button mat-icon-button (click)="sidenav.toggle()" class="d-flex align-items-center">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="logo" routerLink="/" style="padding-top: 6px">
            <img height="60" src="assets/images/logo.svg"> Green Eye
        </span>
    </div>
    <div class="flex-grow-1"></div>
    <ng-container *ngIf="user$ | async as user; else loginButton">
        <div class="me-3 profile">
            <img width="40" height="40" 
                [src]="user.photoURL ?? '../../assets/images/user-placeholder.jpg'" routerLink="/account/profile">
            <button mat-button routerLink="/account/profile" class="profile-button" color="accent">
                <span style="font-weight: 600;">{{user.username}}</span>
            </button>
        </div>
    </ng-container>
    <ng-template #loginButton>
        <button mat-button routerLink="/account/login" class="me-3">
            <i class="fa fa-sign-in"></i> Login
        </button>
    </ng-template>
</mat-toolbar>