<div class="text-center mb-4 mt-5">
    <h1 class="mb-3" style="color: #1b5e20;">Welcome back</h1>
</div>

<div class="d-flex justify-content-center mt-3">
    <div class="col-md-3 col-sm-10 col-10 form-container mat-elevation-z5">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="d-grid">
                <button mat-raised-button style="height: 50px;" (click)="signInWithGoogle()">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="../../../assets/images/Google__G__logo.svg" height="24px" width="24px" class="me-2"> Sign in with Google
                    </div>
                </button>
            </div>

            <div class="divider-container mb-4 mt-4">
                <div class="line"><mat-divider></mat-divider></div>
                <div class="text mat-typography">Or</div>
                <div class="line"><mat-divider></mat-divider></div>
            </div>
            <div class="mb-4">
                <app-text-input [formControl]="loginForm.controls['email']" [label]="'Email Address'"></app-text-input>
            </div>
            <div class="mb-2">
                <app-text-input [formControl]="loginForm.controls['password']" [type]="'password'" [label]="'Password'"></app-text-input>
            </div>
            <div class="d-flex mb-4">
                <mat-checkbox color="primary" (click)="onChange($event)"><span style="color: #1b5e20;">Remember me</span></mat-checkbox>
                <div class="flex-grow-1"></div>
                <div class="d-flex align-items-center"><a routerLink="/account/verify">Forgot password?</a></div>
            </div>
            <div class="d-grid mb-3">
              <button mat-raised-button color="primary" [disabled]="loginForm.invalid" type="submit" style="height: 50px;">Sign in</button>
            </div>
            <div>Don't have an account? <a routerLink="/account/register">Register now</a></div>
        </form>
    </div>
</div>
