<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>
<app-toolbar [sidenav]="sidenav"></app-toolbar>
<mat-sidenav-container class="mat-elevation-z5">
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <div routerLink="/" class="mt-3" routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact: true}">
                <mat-list-item><span class="ms-3"><i class="fa fa-home me-2"></i>Home</span></mat-list-item>
                <mat-divider></mat-divider>
            </div>
            <div routerLink="/dashboard" routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact: true}">
                <mat-list-item><span class="ms-3"><i class="fa fa-bar-chart me-2"></i>Dashboard</span></mat-list-item>
                <mat-divider></mat-divider>
            </div>
            <div routerLink="/account/profile" routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact: true}">
                <mat-list-item><span class="ms-3"><i class="fa fa-user-circle-o me-2"></i>Profile</span></mat-list-item>
            </div>
            <div class="sidenav-footer" routerLink="/account/sign-out" (click)="logout()" *ngIf="user$ | async">
                <mat-divider></mat-divider>
                <mat-list-item><span class="ms-3"><i class="fa fa-sign-out me-2"></i>Sign Out</span></mat-list-item>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="height: calc(100vh - 64px)">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
