mat-sidenav {
    width: 300px;
    background-color: #1b5e20;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);


}

mat-nav-list span{
    color: white;
    font-size: large;
    font-weight: 600;
}

.mat-mdc-list-base {
    --mdc-list-list-item-one-line-container-height: 70px;
}

.sidenav-footer{
    margin-top: 54vh;
}

.loader-container{
    position: fixed;
    width: 100%;
    z-index: 99;
}

.active-list-item {
    background-color: #123F15;
    & span {
        font-weight: bold;
        color: #a7ffeb;
    }
}