<google-map *ngIf="node && station" width="100%" [height]="mapSize"
[center]="nodePosition"
[zoom]="zoom"
[options]="mapOptions">
    <ng-container *ngIf="station">
        <map-marker 
            #marker="mapMarker"
            [position]="stationPosition" 
            [options]="stationMarkerOptions"
            (mapMouseover)="openInfoWindow(marker, infoWindow)"
            (mapMouseout)="closeInfoWindow(infoWindow)"
            (mapClick)="openInfoWindow(marker, infoWindow)">
        </map-marker>
        <map-info-window #infoWindow="mapInfoWindow"><b>{{station.location}}: {{station.name}}</b></map-info-window>
    </ng-container>
    <ng-container *ngIf="node">
        <map-marker 
            #marker="mapMarker"
            [position]="nodePosition" 
            [options]="nodeMarkerOptions"
            (mapMouseover)="openInfoWindow(marker, infoWindow)"
            (mapMouseout)="closeInfoWindow(infoWindow)"
            (mapClick)="openInfoWindow(marker, infoWindow)">
        </map-marker>
        <map-info-window #infoWindow="mapInfoWindow"><b>{{node.name}}</b></map-info-window>
    </ng-container>
</google-map>
