<div class="mt-5 ms-5">
    <h2 class="title">Home</h2>
    <div class="d-flex mt-3 mb-4">
        <div class="search-node me-3">
            <app-text-autocomplete
                [type]="'text'"
                [label]="'Search for station...'"
                [formControl]="searchStationsControl"
                [autocomplete]="stations"
            ></app-text-autocomplete>
            <mat-autocomplete #stations="matAutocomplete">
                <mat-option>
                    
                </mat-option>
            </mat-autocomplete>
        </div>
        <div class="search-node me-3">
            <app-text-autocomplete
                [type]="'text'"
                [label]="'Search for node...'"
                [formControl]="searchNodesControl"
                [autocomplete]="nodes"
            ></app-text-autocomplete>
            <mat-autocomplete #nodes="matAutocomplete">
                <mat-option>
                    
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
</div>
