.node-container {
    margin-top: 2%;
}

.backLink a {
    color: #123F15;
    text-decoration: none;
    font-size: 14px;
}

.backLink {
    width: fit-content;
    border-bottom: 1px solid #123F15;
    padding-bottom: 6px;
}

.title{
    color: #123F15;
}

.chart-and-map {
    display: flex;
    justify-content: space-between;
}

.data-cards {
    display: flex;
    justify-content: space-between;
}

.data-card {
    padding-bottom: 35px;
    background-image: linear-gradient( 174.2deg, rgba(240,246,238,1) 9.1%, rgb(234, 255, 255) 65.4%);
    width: 16%;
}

.symbols {
    width: 30px;
    height: 30px;
}

.map {
    width: 45%;
    background-color: rgba(0,0,0,0.08);
}

.chart {
    width: 55%;
    margin-left: 2%;
    background-image: linear-gradient( 174.2deg, rgba(240,246,238,1) 9.1%, rgb(234, 255, 255) 67.4%);
}

@media only screen and (max-width: 768px) {

    .node-container {
        margin-top: 10%;
    }

    .title {
       width: 270px;
       font-size: 18px;
       margin-left: 7%;
    }

    .backLink {
        margin-left: 5%;
        & a {
            font-size: 13px;
        }
    }

    .chart-and-map {
        display: block;
    }

    .data-cards {
        display: block;
    }

    .map {
        width: 100%;
        margin-bottom: 20px;
    }

    .chart {
        width: 100%;
        margin-left: 0px;
    }

    .data-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .status {
        margin-right: 2%;
        font-size: 12px;
    }
}

@media only screen and (max-width: 400px) {

    .node-container {
        margin-top: 10%;
    }

    .title {
       width: 220px;
       font-size: 15px;
       margin-left: 7%;
    }

    .backLink {
        margin-left: 5%;
        & a {
            font-size: 11px;
        }
    }

    .chart-and-map {
        display: block;
    }

    .data-cards {
        display: block;
    }

    .map {
        width: 100%;
        margin-bottom: 20px;
    }

    .chart {
        width: 100%;
        margin-left: 0px;
    }

    .data-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .status {
        margin-right: 2%;
        font-size: 10px;
    }
}