.title{
    color: #123F15;
}

.data-card {
    padding-bottom: 35px;
    background-color: rgba(0,0,0,0.1);
    width: 16%;
}

.symbols {
    width: 30px;
    height: 30px;
}

.map {
    width: 45%;
}

.chart {
    width: 55%;
}