<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="col-11" *ngIf="(station$ | async) as station">
        <ng-container *ngIf="(node$ | async) as node">
            <div class="mb-2 backLink">
                <a routerLink="/dashboard"><i class="fa fa-arrow-left me-2"></i> <span>Back to dashboard</span></a>
            </div>
            <div class="d-flex">
                <div class="d-flex justify-content-center align-items-center">
                    <h2 class="title mb-3">{{station.location}}: {{station.name}} - {{node.name}}</h2>
                </div>
                <div style="padding-bottom: 30px">
                    <button mat-icon-button class="d-flex justify-content-center align-items-center ms-2" routerLink="/dashboard/stations/{{station.id}}/node-edit/{{node.id}}">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <div class="mat-elevation-z3 map">
                    <app-node-map class="mat-elevation-z3 map" [node]="node" [station]="station"></app-node-map>
                </div>
                <div class="mat-elevation-z3 ms-4 chart">
                    <mat-form-field>
                        <mat-label>Year</mat-label>
                        <mat-select [(value)]="selectedYear" (selectionChange)="getSelectedYear($event.value)">
                            <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="d-flex justify-content-center mt-2">
                        <app-chart
                        [avgTemp]="averageTemperature"
                        [avgHumidity]="averageHumidity"
                        [avgSoilMoisture]="averageSoilMoisture"
                        [avgRain]="averageRain"
                        [avgCO]="averageCO"
                        [avgDust]="averageDust"
                        ></app-chart>
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-between mb-3">
                <div class="mat-elevation-z2 data-card">
                    <img src="assets/images/thermometer-half-solid.svg" class="mt-2 ms-2 mb-2 symbols">
                    <div class="d-flex justify-content-center gauge">
                        <app-gauge
                            [label] = "'Temperature'"
                            [append] ="'°C'"
                            [max] = "60"
                            [value]="node.temperature"
                            [thresholdConfig]="tempThreshold"
                        >
                        </app-gauge>
                    </div>
                </div>
                <div class="mat-elevation-z2 data-card">
                    <img src="assets/images/droplet-solid.svg" class="mt-2 ms-2 mb-2 symbols">
                    <div class="d-flex justify-content-center gauge">
                        <app-gauge
                            [label] = "'Humidity'"
                            [append] ="'%'"
                            [max] = "100"
                            [value]="node.humidity"
                            [thresholdConfig]="humidityThreshold"
                        >
                        </app-gauge>
                    </div>
                </div>
                <div class="mat-elevation-z2 data-card">
                    <img src="assets/images/water-solid.svg" class="mt-2 ms-2 mb-2 symbols">
                    <div class="d-flex justify-content-center gauge">
                        <app-gauge
                            [label] = "'Soil Moisture'"
                            [append] ="'%'"
                            [max] = "100"
                            [value]="node.soil_moisture"
                            [thresholdConfig]="soilMoistThreshold"
                        >
                        </app-gauge>
                    </div>
                </div>
                <div class="mat-elevation-z2 data-card">
                    <div style="font-weight: 700; font-size: larger; color: #1E3050" class="mt-2 ms-2 mb-2">CO</div>
                    <div class="d-flex justify-content-center gauge">
                        <app-gauge
                            [label] = "'CO'"
                            [append] ="'PPM'"
                            [max] = "15"
                            [value]="node.co"
                            [thresholdConfig]="coThreshold"
                        >
                        </app-gauge>
                    </div>
                </div>
                <div class="mat-elevation-z2 data-card">
                    <img src="assets/images/cloud-rain-solid.svg" class="mt-2 ms-2 mb-2 symbols">
                    <div class="d-flex justify-content-center gauge">
                        <app-gauge
                            [label] = "'Rain Fall'"
                            [append] ="'in/h'"
                            [max] = "7"
                            [value]="node.rain"
                            [thresholdConfig]="rainThreshold"
                        >
                        </app-gauge>
                    </div>
                </div>
                <div class="mat-elevation-z2 data-card">
                    <img src="assets/images/wind-solid.svg" class="mt-2 ms-2 mb-2 symbols">
                    <div class="d-flex justify-content-center gauge">
                        <app-gauge
                            [label] = "'Dust Particle'"
                            [append] ="'μg/m3'"
                            [max] = "30"
                            [value]="node.dust"
                            [thresholdConfig]="dustThreshold"
                        >
                        </app-gauge>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>